
html {
    font-family: sans-serif;
    color: #444;
    font-size: 11px;
}

.content {
    max-width: 90%;
    margin: auto;
}

table {
    border: 1px solid #ccc;
}

.totals {
    margin: auto;
    width: 100%;
    margin-bottom: 2em;
}

tr:nth-child(even) {
    background: #eee;
}

td.difference {
    background: red;
}

td.adjusted {
    background: rgb(173, 199, 245);
}

.collapsed li {
    display: none;
}

.collapsed:hover {
    cursor: pointer;
}

.isRecent {
    background-color: #A9FFA9;
}

.no-difference-hidden {
    display: none;
}

.menu {
    margin: 1em;
}